/**
 * ScandiPWA - Progressive Web App for Magento
 *
 * Copyright © Scandiweb, Inc. All rights reserved.
 * See LICENSE for license details.
 *
 * @license OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * @package scandipwa/base-theme
 * @link https://github.com/scandipwa/base-theme
 */

.Paysera {
    &-Select {
        padding-bottom: 12px;
    }

    &-GroupTitle{
        text-align: left;
    }

    &-Group {
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--checkout-payment-border-color);
        width: 100%;
        align-items: end;

        &::before {
            content: none;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: 1px solid var(--checkout-payment-border-color);
        }
    }

    &-Methods {
        display: flex;
        flex-wrap: wrap;
    }

    &-Method {
        margin: 5px;
    }

    &-MethodButton {
        display: flex;
        align-items: center;
        border-top: 1px solid var(--checkout-payment-border-color);

        &::before {
            content: none;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: 1px solid var(--checkout-payment-border-color);
        }
    }

    &-Button {
        img {
            padding: 2px;
            max-width: 100px;
        }

        &_isSelected {
            border: 2px solid var(--primary-base-color);
            border-radius: 5px;
        }

        &:not(&_isSelected):hover {
            border: 2px solid var(--checkout-payment-check-mark-hover-color);
            border-radius: 5px;
        }
    }
}
